@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Geist", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "Geist Mono", ui-monospace, monospace;

  --color-primary-light: rgba(var(--color-primary-light-rgb), 1);
  --color-primary: rgba(var(--color-primary-rgb), 1);
  --color-primary-dark: rgba(var(--color-primary-dark-rgb), 1);

  --color-secondary-light: rgba(var(--color-secondary-light-rgb), 1);
  --color-secondary: rgba(var(--color-secondary-rgb), 1);
  --color-secondary-dark: rgba(var(--color-secondary-dark-rgb), 1);

  --color-background-light: rgba(var(--color-background-light-rgb), 1);
  --color-background: rgba(var(--color-background-rgb), 1);
  --color-background-dark: rgba(var(--color-background-dark-rgb), 1);

  --color-text-primary: rgba(var(--color-text-primary-rgb), 1);
  --color-text-placeholder: rgba(var(--color-text-placeholder-rgb), 1);

  --color-foreground: rgba(var(--color-foreground-rgb), 1);
  --color-background-start: rgba(var(--color-background-start-rgb), 1);
  --color-background-end: rgba(var(--color-background-end-rgb), 1);
}

:root {
  --color-background-rgb: 255, 255, 255;

  --color-text-primary-rgb: 31, 41, 55;

  --color-foreground-rgb: 0, 0, 0;
  --color-background-start-rgb: 214, 219, 220;
  --color-background-end-rgb: 255, 255, 255;

  --color-primary-light-rgb: 79, 70, 229;
  --color-primary-rgb: 67, 56, 202;
  --color-primary-dark-rgb: 55, 48, 163;

  --color-secondary-light-rgb: 16, 185, 129;
  --color-secondary-rgb: 5, 150, 105;
  --color-secondary-dark-rgb: 4, 120, 87;

  --color-background-light-rgb: 255, 255, 255;
  --color-background-dark-rgb: 209, 213, 219;

  --color-text-placeholder-rgb: 156, 163, 175;
}

.dark {
  --color-background-rgb: 18, 18, 18;

  --color-text-primary-rgb: 249, 250, 251;

  --color-foreground-rgb: 255, 255, 255;
  --color-background-start-rgb: 0, 0, 0;
  --color-background-end-rgb: 0, 0, 0;

  --color-primary-light-rgb: 55, 48, 163;
  --color-primary-rgb: 188, 168, 248;
  --color-primary-dark-rgb: 79, 70, 229;

  --color-secondary-light-rgb: 4, 120, 87;
  --color-secondary-rgb: 5, 150, 105;
  --color-secondary-dark-rgb: 16, 185, 129;

  --color-background-light-rgb: 18, 18, 18;
  --color-background-dark-rgb: 57, 59, 65;

  --color-text-placeholder-rgb: 107, 114, 128;
}

body {
  color: rgb(var(--color-foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--color-background-end-rgb)))
    rgb(var(--color-background-start-rgb));
}

.text-balance {
  text-wrap: balance;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeIn 1s ease-in;
}

.text-shadow-lg {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.text-shadow-md {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
